/* src/App.css */
.app {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar h3, .sidebar h4 {
    margin-top: 0;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 10px 0;
  }
  
  .add-btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 40px;
    background-color: #ffffff;
  }
  
  .main-content h1 {
    margin-top: 0;
  }
  
  .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
  
  .empty-state {
    text-align: center;
  }
  
  .empty-state img {
    max-width: 150px;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .add-password-btn, .import-password-btn {
    padding: 10px 20px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    margin: 5px;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .add-password-btn:hover, .import-password-btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  